{% load i18n %}
<div class="inline-group">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}
<div class="inline-related {% if forloop.last %}last-related{% endif %}">
    <h3><strong>{{ inline_admin_formset.opts.verbose_name|title }}:</strong> {% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %} #{{ forloop.counter }}{% endif %}

    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
    </h3>
    {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}

    {% for fieldset in inline_admin_form %}
    <fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}<div class="description">{{ fieldset.description|safe }}</div>{% endif %}

    {% for line in fieldset %}
        <div class="form-row{% if line.errors %} errors{% endif %} {% for field in line %}{{ field.field.name }} {% endfor %} ">
        {{ line.errors }}
        {% for field in line %}
        <div {% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
            {% if field.is_checkbox %}
                {{ field.field }}{{ field.label_tag }}
            {% else %}
                {{ field.label_tag }}{{ field.field }}
            {% endif %}
            {% if field.field.field.help_text %}<p class="help">{{ field.field.field.help_text|safe }}</p>{% endif %}
        </div>
        {% endfor %}
        </div>
    {% endfor %}
    </fieldset>

    {% endfor %}
    {{ inline_admin_form.pk_field.field }}
    {{ inline_admin_form.fk_field.field }}
</div>
{% endfor %}
</div>
