{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Breyta lykilorði' %} &#124; {{ block.super }}{% endblock %}

{% block content %}
<form action="{% url change_password %}" method="post">
    <fieldset>
        <legend>{% trans 'Breyta lykilorði' %}</legend>
            <ul>
                {{ form.as_ul }}
                <li>
                    <input type="submit" value="{% trans 'Breyta lykilorði' %}" />
                </li>
            </ul>
    </fieldset>
</form>
{% endblock %} 
 
