{% load i18n %}
{% if user.is_authenticated %}
{% with user.get_profile as profile %}
<div id="userarea">
<h1>{% trans 'Eiginrúm' %}</h1>
<span>{{ profile.get_logged_in_note }}</span> <br/>
<h2>{% trans 'Flýtileiðir' %}</h2>
<ul>
    {% if user.is_staff or profile.in_government %}
    <li><a href="/vefstjorn/">{% trans 'Vefstjórn' %}</a></li>
    {% endif %}
    <li><a href="{{ user.get_absolute_url }}">{% trans 'Þitt svæði' %}</a></li>
    <li><a href="{% url change_password %}">{% trans 'Breyta lykilorði' %}</a></li>
</ul>
</div>
{% endwith %}
{% endif %} 
